body {
    color: #fff !important;;
    background: #000 url(/static/images/backgroundArt.jpg) fixed;
}

a, a:hover {
    text-decoration:none !important;
}

.turbolinks-progress-bar {
     height: 2px;
     background-color: lawngreen;
}

.navbar-light .navbar-brand {
    color: lawngreen !important;
}

.navbar-light .navbar-text {
    color: lightyellow !important;
}

.nav-link {
    color: white !important;
}

.container .mt-4 {
    color: white !important;
}

.m-2 {
    color: black !important;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    background-color: dimgrey !important;
}

.user-list-table {
    margin-bottom: 50px;
    background-color: dimgray;
    border-radius: 10px;
}

.user-list-row-item {
    font-size: 18px;
}

.user-list-row-item.edit-btn {
    color: lawngreen;
}

.user-edit-form {
    background-color: dimgray;
    padding: 20px;
    width: 280px;
    border-radius: 10px;
    font-size: 20px;
}

.user-edit.save-btn {
    color: azure;
}

/*.user-editor {
    font-size: 20px;
}*/
